@import '../../../variables';

.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: $color-background-tertiary;
  border: 1px solid $color-summaryBorder;
  font-size: $font-size-s;
  font-weight: 700;
  text-transform: uppercase;

  &__text {
    font-size: $font-size-s;
  }
}

@media(min-width: 600px) {

  .shipping {
    font-size: $font-size-m;

    &__text {
      font-size: $font-size-m;
    }
  }
}

@media(min-width: 1024px) {

  .shipping {
    padding: 12px 20px;
    font-size: $font-size-l;

    &__text {
      font-size: $font-size-l;
    }
  }
}