@import '../../variables';

.productsList {
  display: flex;
  flex-direction: column;
  font-size: $font-size-s;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0 12px;
    border-bottom: 1px solid $color-separationHeader-line;
  }

  &__name {
    margin-left: calc(#{$product-width-s} + #{$delete-width-s});
  }

  &__name,
  &__price,
  &__qty {
    flex: 1 1 0;
    font-weight: 700;
    text-align: center;
  }

  &__qty {
    text-align: left;
  }

  &__empty {
    margin-top: 20px;
  }
}

@media(min-width: 600px) {

  .productsList {
    font-size: $font-size-m;

    &__name {
      margin-left: calc(#{$product-width-m} + #{$delete-width-m} + #{$delete-margin-m});
    }
  }
}

@media(min-width: 800px) {

  .productsList__name {
    margin-left: calc(#{$product-width-l} + #{$delete-width-m} + #{$delete-margin-m});
  }
}

@media(min-width: 1024px) {

  .productsList {
    font-size: $font-size-l;

    &__name {
      margin-left: calc(#{$product-width-l} + #{$product-margin} + #{$delete-width-m} + #{$delete-margin-m});
    }
  }
}

@media(min-width: 1280px) {

  .productsList__name {
    margin-left: calc(#{$product-width-xl} + #{$product-margin} + #{$delete-width-m} + #{$delete-margin-l});
  }
}