@import '../../variables';

.productsList {
  display: flex;
  flex-direction: column;
  font-size: $font-size-s;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0 12px;
    border-bottom: 1px solid $color-separationHeader-line;
  }

  &__name {
    margin-left: calc(#{$product-width} + #{$delete-width});
  }

  &__name,
  &__price,
  &__qty {
    flex: 1 1 0;
    font-weight: 700;
    text-align: center;
  }

  &__qty {
    text-align: left;
  }
}