@import '../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-family: $font-family-default;
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.header {
  color: $color-text-primary;
  font-size: $font-size-l;
  font-weight: 400;
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0 25px;
  padding: 0 10px 30px;
  color: $color-text-primary;
  border: 1px solid $color-outer-border;
  box-shadow: 0 2px 3px 0 $color-outer-border;
}

.updateCart {
  align-self: flex-end;
  margin-top: 20px;
  padding: 6px 10px;
  color: $color-buttonDark-text;
  background-color: $color-buttonDark-background;
  border: 1px solid $color-buttonDark-border;
  font-family: $font-family-default;
  font-size: $font-size-s;
  font-weight: 700;
}