@import '../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-family: $font-family-default;
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.header {
  color: $color-text-primary;
  font-size: $font-size-l;
  font-weight: 400;
}

.main {
  background-color: red;
  height: 500px;
}