@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-family-default: 'Roboto',
sans-serif;

$font-size-s: 1.6rem;
$font-size-m: 2.0rem;
$font-size-l: 2.8rem;
$font-size-xl: 3.6rem;

$color-text-primary: rgb(119, 119, 119);
$color-text-secondary: rgb(0, 0, 0);
$color-button-text: rgb(255, 255, 255);
$color-button-background: rgb(5, 2, 3);
$color-button-border: rgb(204, 204, 204);
$color-border: rgb(220, 220, 220);
$color-border-active: rgb(33, 30, 33);
$color-background-primary: rgb(255, 255, 255);
$color-background-secondary: rgb(251, 251, 251);
$color-background-tertiary: rgb(245, 245, 245);