@import '../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 10px 30px;
  border: 1px solid $color-outer-border;
  color: $color-text-primary;
  box-shadow: 0 2px 3px 0 $color-outer-border;
}

.productsList {
  display: flex;
  flex-direction: column;
  font-size: $font-size-s;

  &__product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid $color-separation-line;
    padding: 12px 0;
  }

  &__header {
    border-bottom: 1px solid $color-separationHeader-line;
    padding-top: 25px;
  }
}

.product {

  &__delete {
    border: none;
    background-color: $color-background-primary;
    outline: none;
  }

  &__deleteImg {
    width: $delete-width;
  }

  &__imgWrapper {
    width: $product-width;
  }

  &__img {
    width: 100%;
  }

  &__name {
    margin-left: calc(#{$product-width} + #{$delete-width});
  }

  &__name,
  &__price,
  &__qty {
    flex: 1 1 0;
    text-align: center;
    font-weight: 700;
  }

  &__qty {
    text-align: left;
  }

  &_flexGrow {
    flex: 1 1 0;
    text-align: center;
  }
}

.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 0;

  &__button {
    width: 20px;
    height: 20px;
    font-family: $font-family-default;
    font-weight: 700;
    font-size: $font-size-s;
    color: $color-text-primary;
    background-color: $color-background-tertiary;
    border: 1px solid $color-buttonDark-border;
    outline: none;
  }

  &__input {
    width: 20px;
    color: $color-text-primary;
    text-align: center;
  }

  &__edit {
    display: flex;
    border: none;
    background-color: $color-background-primary;
    outline: none;
    width: 18px;
  }

  &__editImg {
    width: 100%;
  }
}

.updateCart {
  color: $color-buttonDark-text;
  background-color: $color-buttonDark-background;
  border: 1px solid $color-buttonDark-border;
  align-self: flex-end;
  margin-top: 20px;
  font-weight: 700;
  padding: 6px 10px;
  font-size: $font-size-s;
  font-family: $font-family-default;
}